<footer class="footer">
        <nav>
            <ul class="footer-links">
                <li>
                    <a>
                        Öffnungszeiten
                    </a>
                </li>
                <li>
                    <a>
                        Anfahrt
                    </a>
                </li>
                <li>
                    <a>
                        Kontakt
                    </a>
                </li>
                <li>
                    <a>
                        Impressum
                    </a>
                </li>
            </ul>
        </nav>      
</footer>
<div class="centerContent">
        <img src="/uploads/KunstAmKirchberg_Logo.jpg" height="150" class="footerLogo">
        </div>
