<header>
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="assets/images/K_Logo.jpg" alt="" height="50">
        </a>

        <ul class="navbar-links">
            <li>

                <a href="/kuenstler/jehuda-bacon.html">
                    Jehuda Bacon

                </a>
            </li>
            <li>
                <a href="/kuenstler/anja-schwarz.html">
                    Anja Schwarz
                </a>
            </li>
            <li>
                <a href="/kuenstler/andreas-felger.html">
                    Andreas Felger
                </a>
            </li>
            
       </ul>
    </nav>
</header>