<div class="sidenav">
    <a href="/" class="logo">
        <amp-img class="desktop" src="/assets/images/logo.jpg" alt="" layout="fixed" height="162"
            width="150">
        </amp-img>
    </a>

    <ul class="navbar-links">

        {%for artist in site.artists%}
        <li>
            <a href="{%if forloop.first%}/{%else%}{{artist.url}}{%endif%}"
                class="{%if artist.title == page.title%}underline{%endif%}">
                {{artist.title}}
            </a>
        </li>
        {%endfor%}
        <hr>
        <li class="grey">
            <a href="/contact.html" class="{%if page.title == 'Kontakt'%}underline{%endif%}">
                Kontakt
            </a>
        </li>
        <li class="grey">
            <a href="/imprint.html" class="{%if page.title == 'Impressum'%}underline{%endif%}">
                Impressum
            </a>
        </li>

    </ul>

</div>