<div class="sidenav">


    <ul class="navbar-links">
        <li>
            <a href="/" class="logo">
                <img src="/uploads/K_Logo.jpg" alt="" height="50">
            </a>
        </li>
        {%for artist in site.artists%}
        <li>
            <a href="{{artist.url}}">
                {{artist.title}}
            </a>
        </li>
        {%endfor%}
        <hr>
        <li class="grey">
            <a href="/kuenstler/andreas-felger.html">
                Kontakt
            </a>
        </li>
        <li class="grey">
            <a href="/kuenstler/andreas-felger.html">
                Impressum
            </a>
        </li>

    </ul>

</div>