<div class="sidenav">
    <a href="/" class="logo">
        <img src="/uploads/K_Logo.jpg" alt="" height="50">
    </a>

    <ul class="navbar-links">

        {%for artist in site.artists%}
        <li>
            <a href="{{artist.url}}">
                {{artist.title}}
            </a>
        </li>
        {%endfor%}
        <hr>
        <li class="grey">
            <a href="/contact.html">
                Kontakt
            </a>
        </li>
        <li class="grey">
            <a href="/imprint.html">
                Impressum
            </a>
        </li>

    </ul>

</div>