body {
    display: flex;
    font-family: $standard-font;
    margin: 0;
    font-size: $standard-font-size;
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

main {
    h1 {
        margin: 0;
        text-align: left;
    }
    position: relative;
    @media screen and (min-width: 801px) {
        max-height: 100vh;
        height: 90vh;
    }
    margin: $standard-height-1 $standard-height-2;
    flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    main {
        margin: 1rem 1rem;
    }
}
