body {
    display: flex;
    font-family: $standard-font;
    margin: 0;
    font-size: $standard-font-size;
    @media screen and (max-width: (800px)){
        flex-direction: column;
    }
 
}

main {
    h1{
        margin: $standard-height-1 0 $standard-height-1 0;
    }
    padding-top: $standard-height-1;
    margin: auto;
    max-width: 900px;
    min-height: 95vh;
    margin-bottom: $standard-height-2;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: $heading-font;
    font-weight: bold;
}
