body {
    font-family: $standard-font;
    margin: 0;
    font-size: $standard-font-size;
 
}

main {
    padding-top: $standard-height-3;
    margin: auto;
    max-width: 900px;
    min-height: 95vh;
    margin-bottom: $standard-height-2;
}
