form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 20vh;

    input,
    textarea {
        background-color: white;
        border: none;
        border-bottom: 2px solid $grey;
        padding: .5rem;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-family: sans-serif;
        color: $grey;

        &:focus {
            &::placeholder{
                color: black;
            }
            color: black;
            border-bottom: 2px solid black;
            outline: none;
        }
        &[type=submit]{
            border: 2px solid $grey;
            border-bottom: 2px solid black;
        }
    }
}