.artworkContainer {
    position: relative;

    .artwork {
        max-height: 75vh;
        margin: 1rem;

        img {
            object-fit: contain;
        }
    }
}

.indexLogo {
    height: 100px;
}

@media screen and (max-width: 800px) {
    .artworkContainer {
        opacity: 1;
        visibility: visible;
        display: block;
        margin-bottom: 2rem;
        &:first-child {
            margin-top: 0rem;
        }
        .artwork {
            margin: 0 0 0.5rem 0;
        }
    }
}
@media screen and (min-width: 801px) {
    .artworkContainer {
        margin-bottom: 3rem;
        &:first-child {
            margin-top: 3rem;
        }
    }
}
