.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.75rem;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.151);
    .navbar-links {
        list-style: none;
        margin: 0 2rem 0 0;
        padding: 0;
        display: inline-block;

        li {
            display: inline-block;
            margin-left: 1rem;
            a {
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: $nav-font-size;
            }
        }
    }

    .logo {
        text-decoration: none;
    }
}
