.sidenav {
    @media screen and (min-width: 801px) {
        top: 0;
        height: 100%;
        margin: 0.75rem 0.75rem 0.75rem 1rem;
        min-width: 120px;
    }

    display: inline-block;

    .logo {
        top: 1rem;
        z-index: 20000;

        @media screen and (max-width: 800px) {
            position: relative;
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;
        }

        @media screen and (min-width: 801px) {
            position: absolute;
            left: 1rem;
        }
    }

    .navbar-links {
        @media screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media screen and (min-width: 801px) {
            margin-top: 100px;
            width: 128px;
            text-align: center;
        }

        list-style: none;
        padding: 0;
        display: inline-block;

        li {
            @media screen and (min-width: 801px) {
                &:first-child {
                    margin-top: calc(1.5rem + 50px);
                }
            }

            @media screen and (max-width: 800px) {
            }

            margin-bottom: 0.5rem;

            a {
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: $nav-font-size;

                &.underline {
                    text-decoration: underline;
                }
            }

            &.grey a {
                color: $grey;
            }
        }
    }
}
