---
layout: default
---

{{content}}
{% assign artworks = site.artworks | where: "artist", page.title %}

{% for artwork in artworks limit:1 %}
<amp-img class="artwork" src="{{artwork.gallery[0].image}}" layout="responsive" height="9" width="16">
</amp-img>

<div class="caption">
    <span class="black">
        {{artwork.number}}
    </span>
    |
    <span>
        {{artwork.categories | join: ", "}}
    </span>
    |
    <span>
        {{artwork.dimensions}}
    </span>
    |
    <span>
        {% if artwork.year != nil%}
        {{artwork.year}}
        {%else%}
        Jahr unbekannt
        {%endif%}
    </span>
    |
    <span>
        {{artwork.price}}
    </span>
</div>

{%endfor%}