---
layout: default
---

{{content}}
{% assign artworks = site.artworks | where: "artist", page.title %}

{% for artwork in artworks %}
<div class="artworkContainer">
    <amp-img class="artwork desktop" src="{{artwork.gallery[0].image}}" layout="responsive" height="9" width="16" alt="{{page.title}}: {{artwork.title}} | {{artwork.categories | join: ", "}}, {{artwork.dimensions}}, {{artwork.year}}, {{artwork.price}}, {{artwork.number}}">
    </amp-img>
    <amp-img class="artwork mobile" src="{{artwork.gallery[0].image}}" layout="responsive" height="4" width="5" alt="{{page.title}}: {{artwork.title}} | {{artwork.categories | join: ", "}}, {{artwork.dimensions}}, {{artwork.year}}, {{artwork.price}}, {{artwork.number}}">
    </amp-img>

    <div class="caption">
        <span class="black">
            {{page.title}}: {{artwork.title}}
        </span>
        |
        <span>
            {{artwork.categories | join: ", "}}
        </span>
        |
        <span>
            {{artwork.dimensions}}
        </span>
        |
        <span>
            {{artwork.year}}
        </span>
        |
        <span>
            {{artwork.price}}
        </span>
        |
        <span>
            {{artwork.number}}
        </span>
    </div>
</div>
{%endfor%}
